@charset "UTF-8";

@media only screen and (max-width: 900px){
    div.conteudo{
        width: 600px;
    }

    div.missoes > div.missao{
        gap: 260px;
    }

    div.titulo-missao > p.sus{
        left: 8%;
    }

    div.titulo-missao > p.limp{
        left: 45%;
    }

    div.titulo-missao > p.sal{
        left: 78.5%;
    }

    div.conteudo-missao > p{
        max-width: 200px;
    }

    div.conteudo-missao > p.sustentabilidade{
        top: 52%;
        left: 5%;
    }

    div.conteudo-missao > p.limpeza{
        top: 52%;
        left: 39.2%;
    }

    div.conteudo-missao > p.vidas{
        top: 52%;
        left: 73%;
    }

    div.ingles > div.reportagem > img{
        width: 300px;
        height: 400px;
    }

    div.ingles > div.conteudo-ingles > h3{
        top: 19%;
        left: 9%;
    }

    div.ingles > div.conteudo-ingles > p{
        max-width: 78%;
        font-size: 1em;
    }

    div.ingles > div.conteudo-ingles > button.doc{
        left: 21%;
    }

    div.rodape > div.textinho > img{
        width: 50px;
        height: 55px;

    }

    div.rodape > div.mapa-do-site{
        width: 160px;
    }
}

@media only screen and (max-width: 768px){
    div.conteudo{
        width: 600px;
    }

    div.missoes > div.missao{
        gap: 200px;
    }

    div.titulo-missao > p.sus{
        left: 9%;
    }

    div.titulo-missao > p.limp{
        left: 45%;
    }

    div.titulo-missao > p.sal{
        left: 75.5%;
    }

    div.conteudo-missao > p{
        max-width: 200px;
    }

    div.conteudo-missao > p.sustentabilidade{
        top: 54%;
        left: 4%;
    }

    div.conteudo-missao > p.limpeza{
        top: 54%;
        left: 37.2%;
    }

    div.conteudo-missao > p.vidas{
        top: 54%;
        left: 70%;
    }

    div.ingles > div.reportagem > img{
        width: 250px;
        height: 350px;
    }

    div.ingles > div.conteudo-ingles > h3{
        top: 19%;
        left: 9%;
        font-size: 1.9em;
    }

    div.ingles > div.conteudo-ingles > p{
        max-width: 78%;
        font-size: 1em;
    }

    div.ingles > div.conteudo-ingles > button.doc{
        left: 19%;
    }

    div.rodape > div.textinho > img{
        width: 50px;
        height: 55px;

    }

    div.rodape > div.mapa-do-site{
        width: 160px;
    }
}    

@media only screen and (max-width: 430px){
    div.menu{
        height: 65px;
    }

    div.menu > ul > img{
        width: 45px;
        height: 45px;
    }

    div.menu > ul > li > a{
        padding: 24px 0px;
    }

    div.menu > ul > button.doacoes{
        height: 23px;
        width: 53px;
    }

    div.conteudo{
        width: 270px;
    }

    div.conteudo > h1{
        font-size: 1.2em;
        margin: 10px 0px;
        padding: 0px 20px;
    }

    div.conteudo > button.beautiful-button{
        padding: 10px 20px;
        font-size: 12px;
    }

    div.missoes{
        height: 800px;
    }

    div.missoes > div.titulo > h2{
        font-size: 1.4em;
    }

    div.missoes > div.missao{
        flex-direction: column;
        gap: 170px;
    }

    div.missoes > div.missao > div.material-symbols-outlined{
        font-size: 2.8em; 
    }

    div.missoes > div.missao > div.icons8-polvo-48 > img{
        width: 40px;
        height: 40px;
    }

    div.titulo-missao > p.sus{
        top: 30%;
        left: 36%;
    }

    div.titulo-missao > p.limp{
        top: 56%;
        left: 42%;
    }

    div.titulo-missao > p.sal{
        top: 83%;
        left: 40.5%;
    }

    div.conteudo-missao > p{
        font-size: 0.9em;
    }

    div.conteudo-missao > p.sustentabilidade{
        top: 35%;
        left: 24.2%;
    }

    div.conteudo-missao > p.limpeza{
        top: 63%;
        left: 24%;
    }

    div.conteudo-missao > p.vidas{
        top: 90%;
        left: 24%; 
    }

    div.ingles{
        top: 260%;
    }

    div.ingles > div.reportagem > img{
        display: none;
    }

    div.ingles > div.conteudo-ingles > h3{
        font-size: 1.5em;
        top: 8%;
        left: 24%;
        text-align: center;
    }

    div.ingles > div.conteudo-ingles > p{
        font-size: 0.9em;
    }

    div.ingles > div.conteudo-ingles > button.doc{
        top: 76%;
        left: 30%;
    }

    div.rodape{
        top: 340%;
    }

    div.rodape > div.textinho > img{
        top: 83%;
        left: 63%;

        width: 40px;
        height: 40px;
    }

    div.rodape > div.mapa-do-site{
        width: 115px;
    }

    div.rodape > div.mapa-do-site > h4{
        font-size: 0.8em;
    }

    div.rodape > div.mapa-do-site > ul > li > a{
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 600px){ /*telas pequenas*/

    div.menu{
        height: 70px;
    }

    div.menu > ul > img{
        width: 55px;
        height: 50px;
    }

    div.menu > ul > li > a{
        padding: 24px 0px;
        font-size: 1em;
    }

    div.menu > ul > button.doacoes{
        height: 23px;
        width: 53px;
    }

    div.conteudo{
        width: 350px;
    }

    div.conteudo > h1{
        font-size: 1.4em;
        margin: 10px 0px;
        padding: 0px 20px;
    }

    div.conteudo > button.beautiful-button{
        padding: 14px 24px;
        font-size: 14px;
    }

    div.missoes{
        top: 97%;
    }

    div.missoes > div.titulo > h2{
        font-size: 1.8em;
    }

    div.missoes > div.missao{
        flex-direction: column;
        gap: 220px;
    }

    div.missoes > div.missao > div.material-symbols-outlined{
        font-size: 2.8em; 
    }

    div.missoes > div.missao > div.icons8-polvo-48 > img{
        width: 40px;
        height: 40px;
    }

    div.titulo-missao > p.sus{
        top: 39%;
        left: 38%;
    }

    div.titulo-missao > p.limp{
        top: 79%;
        left: 42%;
    }

    div.titulo-missao > p.sal{
        top: 120%;
        left: 41.5%;
    }

    div.conteudo-missao > p{
        font-size: 1.1em;
    }

    div.conteudo-missao > p.sustentabilidade{
        top: 48%;
        left: 32.2%;
    }

    div.conteudo-missao > p.limpeza{
        top: 90%;
        left: 32%;
    }

    div.conteudo-missao > p.vidas{
        top: 132%;
        left: 33%; 
    }

    div.ingles{
        top: 265%;
    }

    div.ingles > div.reportagem > img{
        display: none;
    }

    div.ingles > div.conteudo-ingles > h3{
        font-size: 1.5em;
        top: 8%;
        left: 24%;
        text-align: center;
    }

    div.ingles > div.conteudo-ingles > p{
        font-size: 1em;
        height: 260px;
    }

    div.ingles > div.conteudo-ingles > button.doc{
        top: 56%;
        left: 39%;
    }

    div.rodape{
        top: 340%;
    }

    div.rodape > div.textinho > img{
        top: 80%;
        left: 7%;

        width: 40px;
        height: 40px;
    }

    div.rodape > div.mapa-do-site{
        width: 115px;
    }

    div.rodape > div.mapa-do-site > h4{
        font-size: 0.8em;
    }

    div.rodape > div.mapa-do-site > ul > li > a{
        font-size: 0.8em;
    }
}
    