@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

div.menu{
    width: 100%;
    background-color: #e9e9f0;
    height: 100px;
    box-shadow: 1px 6px 6px 2px rgba(0, 0, 0, 0.493);
    text-decoration: none;font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

div.menu > ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

div.menu > ul > li{
    display: flex;
    align-content: center;
    list-style: none;
}

div.menu > ul > li > a{
    color: #315299;
    text-decoration: none;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: medium;
}

div.menu > ul > li > a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-shadow: 1px 1px 1px (rgba(124, 116, 116, 0.432)0.432);
}

div.menu > ul > img{
    width: 90px;
    height: 80px;
    margin-top: 10px;
}

div.menu > ul > button.doacoes{
    height: 35px ;
    width: 75px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to bottom, #375dad, #2a2c57);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
}

div.menu > ul > button.doacoes:hover{
    background: linear-gradient(to bottom, #2a2c57, #365baa);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-1px);
    cursor: pointer;
}

div.menu > ul > button.doacoes:active{
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

div.imagem{
    width: 100%;
    height: 530px;
    background-image: url(../imagens/PT-BR-Limpeza-Petroleo-Peru_Pilar-Olivares_Alamy_2HG5CR8-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    filter: blur(3px);
}

div.conteudo{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.336);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 15px;
}

div.conteudo > h1{
    font-family: 'Playfair Display', serif;
    margin: 15px 0px;
    padding: 0px 30px;
}

div.conteudo > p {
    font-family: 'Open Sans', serif;
    margin: 25px 0px;
    font-weight: 500;
    font-size: large;
}

div.conteudo > button.beautiful-button{
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #315299, #2a2c57);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
}

div.conteudo > button.beautiful-button:hover{
    background: linear-gradient(to bottom, #2a2c57, #315299);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

div.conteudo > button.beautiful-button:active{
    transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

div.conteudo > button.beautiful-button > a{
    text-decoration: none;
    color:white
}

div.missoes{
    position: absolute;
    top: 100% ;

    background-color: white;
    width: 100vw;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

div.missoes > div.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}

div.missoes > div.titulo > h2{
    font-size: 2.3em;
}

div.missoes > div.missao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 284px;
}

div.missoes > div.missao > div.material-symbols-outlined{
    font-size: 3.3em;
    color: #2a2c57;
}

div.titulo-missao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    gap: 232px;
}

div.titulo-missao > p{
    font-family: 'Playfair Display', sans-serif ;
    font-size: 1.2em;
    text-align: center;
}

div.titulo-missao > p.sus{
    position: absolute;
    top: 41%;
    left: 21%;
}

div.titulo-missao > p.limp{
    position: absolute;
    top: 41%;
    left: 47%;
}

div.titulo-missao > p.sal{
    position: absolute;
    top: 41%;
    left: 70.5%;
}

div.conteudo-missao{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    gap: 145px;
    text-align: center;
}

div.conteudo-missao > p{
    max-width: 300px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(112, 112, 112);
}

div.conteudo-missao > p.sustentabilidade{
    position: absolute;
    top: 55%;
    left: 14%;
}

div.conteudo-missao > p.limpeza{
    position: absolute;
    top: 55%;
    left: 39.2%;
}

div.conteudo-missao > p.vidas{
    position: absolute;
    top: 55%;
    left: 64%;
}

div.ingles{
    position: absolute;
    top: 196% ;
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#E7E7E7 ;
}

div.ingles > div.reportagem > img{
    width:400px;
    height: 500px;
    margin-right: 30px;
}

div.ingles > div.conteudo-ingles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.ingles > div.conteudo-ingles > h3{
    position:absolute;
    top: 14%;
    left: 13%;

    max-width: 50%;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.2em;
}

div.ingles > div.conteudo-ingles > p{
    max-width: 70%;
    font-size: 1.1em;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(112, 112, 112);
}

div.ingles > div.conteudo-ingles > button.doc{
    position: absolute;
    top: 73%;
    left: 25%;
    width: 125px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: black;
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
}

div.ingles > div.conteudo-ingles > button.doc > a{
    color: white;
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
}

div.ingles > div.conteudo-ingles > button.doc:hover{
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
}

div.ingles > div.conteudo-ingles > button.doc:active{
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

div.rodape{
    position: absolute;
    top: 293% ;
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2a2c57;
}

div.rodape > div.textinho > img{
    position: absolute;
    top: 10%;
    left: 7%;

    width: 62px;
    height: 65px;
}

div.rodape > div.textinho{
    color: white;
    max-width: 50%;
    
}

div.rodape > div.mapa-do-site{
    color: white;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

div.rodape > div.mapa-do-site > h4{
    font-family: 'Playfair Display', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

div.rodape > div.mapa-do-site > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.rodape > div.mapa-do-site > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

div.rodape > div.mapa-do-site > ul > li > a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-shadow: 1px 1px 1px (rgba(124, 116, 116, 0.432)0.432);
}

@keyframes button-shimmer {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  
  /* Particle animation */
  @keyframes button-particles {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }